﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="MobileMenu.ascx.cs" Inherits="MobileComponents_Menu" %>
 <asp:Panel ID="PanelMenu" runat="server">
    
<table>
   
<tr>
<td>
<asp:Button 
        ID="ButtonJobs" runat="server" Text="Jobs" Width="70px" 
        onclick="ButtonJobs_Click" />
        <asp:Button 
        ID="ButtonLogOff" runat="server" Text="Logout" Width="70px" 
        onclick="ButtonLogOff_Click" />
</td></tr>

</table>
</asp:Panel>
